<!DOCTYPE html>
<html lang="en">
<head>
    
  <link rel="stylesheet" href="css/login.css">
	
  <title>Login</title>
</head>
<body>

    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Recupero Password</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" placeholder=" " required id="usernamejs">
                        <label >Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" placeholder=" " required id="email">
                        <label >E-mail</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" placeholder=" " required>
                        <label >Pin</label>
                    </div>
                    <button onclick="Forgotbutton()"><a href="./Logchx">Reimposta Password</a></button>
                    <div class="register">
                        <p>Non hai un account? <a href="./registrazione">Registrati ora</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
      <script type="text/javascript" src="js/jsForgot.js"></script>
      
</body>
</html>